<form action="/stations/${_station.id}/addreading" method="POST">
  <div class="columns">
    <div class="field column">
      <label class="label">Code</label>
      <div class="control">
        <input class="input" placeholder="Code" type="text" name="code">
      </div>
    </div>
    <div class="field column">
      <label class="label">Temperature</label>
      <div class="control">
        <input class="input" placeholder="Temperature" type="text" name="temperature">
      </div>
    </div>
    <div class="field column">
      <label class="label">Wind Speed</label>
      <div class="control">
        <input class="input" placeholder="Wind Speed" type="text" name="wind speed">
      </div>
    </div>
    <br>
    <div class="field column">
      <label class="label">Wind Direction</label>
      <div class="control">
        <input class="input" placeholder="Wind Direction" type="text" name="wind direction">
      </div>
    </div>
    <div class="field column">
      <label class="label">Pressure</label>
      <div class="control">
        <input class="input" placeholder="Pressure" type="text" name="pressure">
      </div>
    </div>
  </div>
  <div class="field mt-4">
    <div class="control">
      <button class="button is-info">Submit Report</button>
    </div>
  </div>
</form>
