<form action="/dashboard/addstation" method="POST">
    <div class="columns">
        <div class="field column">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" placeholder="Name" type="text" name="name">
            </div>
        </div>
        <div class="field column">
            <label class="label">Latitude</label>
            <div class="control">
                <input class="input" placeholder="00.00" type="text" name="latitude">
            </div>
        </div>
        <div class="field column">
            <label class="label">Longitude</label>
            <div class="control">
                <input class="input" placeholder="00.00" type="text" name="longitude">
            </div>
        </div>
    </div>
        <div class="field mt-4">
            <button class="button is-info">Add Station</button>
        </div>
</form>
