#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"admin"/}

<div class="content box">
    <h1 class="title">
        All Known Readings in the Database:
    </h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID </th>
            <th>Reading</th>
            <th>Temperature</th>
            <th>Wind Speed</th>
        </tr>
        </thead>
        <tbody>
        #{list items:readings, as:'reading'}
        <tr>
            <td>
                ${reading.id}
            </td>
            <td>
                ${reading.code}
            </td>
            <td>
                ${reading.temperature}
            </td>
            <td>
                ${reading.windSpeed}
            </td>
        </tr>
        #{/list}
        </tbody>
    </table>
</div>
