<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#{get 'title' /}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/347e7e8e43.js" crossorigin="anonymous"></script>
  </head>
  <body class="container">
    <div class="hero is-info is-small">
      <div class="hero-body">
        <p class="title">
          WeatherTop
        </p>

      </div>
    </div>
    <section class="box">
      #{doLayout /}
    </section>
    <footer class="footer box">
      <div class="content has-text-centered">
        <p>
          Copyright WeatherTop 2023
        </p>
      </div>
    </footer>
  </body>
</html>